
/* gerenciamento */
.table{
    background-color: #FFFFFF;
    
}

.tb{
    font-size: 18px;
}

.tbl{
    font-size: 18px;
}

.btn{
    font-size: medium;
}

.ger{
    background-color: #F5F5F7;
    margin-top: 100px;
    
}

body{
    background-color: #FFFF;
}

.update{
    background-color: #0077ED
}



.remove{
    background-color: #2E2E2E;
}

.modal-header{
    background-color: #F2F2F2;
}

.modal-body{
    background-color: #F2F2F2;
}

.search{
    font-family:josefin sans;
    font-size: 20px;
    color: #666;
}

.page-link{
    color: #fff;

}

/* formulário */
.fm{
    background-color: #FFFFFF; 
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 30px;      
}

.form-group{
    line-height: 2.0;
}

.h1-2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;  
    
}

h2{
    color: #494949;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}

h3{
    color: #666;
    font-family:josefin sans;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

hr{
    margin-top: 30px;
    margin-bottom: 20px;
    height:30px
}

.dh{
    text-align: center;
}

.form_text{
color: #666;
font-family:josefin sans;
font-size: 18px;

}

.btn_f{
    font-family:josefin sans;
    margin-top: 25px;  
}

.h4-3{
    text-align: center;
}


/* login */

.login{
    padding-top: 90px;
}

.login-form {
    width: 340px;
    margin: 50px auto;
}
.login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.login-form h2 {
    margin: 0 0 15px;
}
.form-control, .btn {
    min-height: 38px;
    border-radius: 2px;
}


/* home */

header{
    background-color: #267DFD;
}

.card_home{
    background-color: #267DFD;
}


.btn-home{
    font-size: 40px;
}


.text100 {
    padding-top: 150px;
    padding-bottom: 60px;
}

.text300{
    padding-bottom: 100px;

}

.text200 {
    text-align: center;

}

.text-uppercase {
    text-transform: uppercase!important;
    font-size: 18px;
}

.page-section{ 
    padding-top: 100px;
}


.fa{
    font-size:20px;
}

.list-inline {
    padding-left: 0;
    list-style: none;
    padding-top: 25px;
}

.py-5 {
    padding-top: 2rem!important;
    padding-bottom: 0.1rem!important;
}

a:hover {
    text-decoration: none;
    -webkit-text-stroke: 0.5px rgb(5, 21, 252); 
    transition-timing-function: ease-in-out;
}

#teste3{position:relative;top:0;padding:4px;;
    transition: all .2s ease-in-out}
#teste3:hover{top:-4px;box-shadow:0 4px 3px #999}

.MainContainer {
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    }

.footer{
    padding-bottom: 30px;
    padding-top: 50px;
}

.page-section-cont {
    padding-bottom: 50px;
    padding-top: 30px;
  
}

.home-info-grey {
    padding-top: 40px;
    padding-bottom: 120px;
    
}

.home-info-grey h2 {
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    font-style: italic
}

.home-info-grey p {
    color: #626163;
    font-weight: 500;
    font-size: 18px
}

.drop-cap {
    margin-right: 25px;
    float: left;
    text-align: center;
    line-height: 1;
    font-size: 50px
}

.drop-cap-letter {
    color: #267DFD;
    font-size: 70px;
    font-weight: 700
}

.drop-cap-text {
    color: #231833;
    font-size: 25px;
    font-weight: 500
}

/* 401 */


.error-template {
    padding: 175px 15px;
    text-align: center;
}
.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}
.error-actions .btn { 
    margin-right:10px; 
}





    