.table{
    background-color: #FFFFFF;
    
}

.tb{
    font-size: large;
}

.tbl{
    font-size: large;
}

.btn{
    font-size: medium;
}

.ger{
    background-color: #F5F5F7;
    margin-top: 40px;
    
}

body{
    background-color: #FFFF;
    margin-bottom: 10%;
}

.update{
    background-color: #0077ED
}

.update-form{
    color: #fff;
}

.remove{
    background-color: #2E2E2E;
}

.modal-header{
    background-color: #212529;
}

.modal-body{
    background-color: #212529;
}

h4{
    color:#fff;
}

.fm{
    background-color: #FFFFFF; 
    margin-bottom: 100px;
    padding-top: 30px;
    padding-bottom: 30px;      
}

.form-group{
    line-height: 2.0;
}

.h1-2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;  
    
}

h2{
    color: #494949;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding-bottom: 20px;
}

h3{
    color: #666;
    font-family:josefin sans;
    font-size: 19px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

hr{
    margin-top: 30px;
    margin-bottom: 20px;
    height:30px
}

.dh{
    text-align: center;
}

.form_text{
color: #666;
font-family:josefin sans;
font-size: 18px;

}

.btn_f{
    font-family:josefin sans;
    margin-top: 25px;  
}

.h4-3{
    text-align: center;
}


.search{
    font-family:josefin sans;
    font-size: 20px;
    color: #666;
}

.page-link{
    color: #fff;

}

/* login */


	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    





