<!-- Inheriting all linked files -->
{% extends 'base.html' %} {% include 'header.html' %} 

<!-- head section -->
{% block title %} Projeto Integrador {% endblock %}


<!-- Body section  -->
{% block body %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" >
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="static/images/foto.jpg" alt=some  width=100 height=50>
        <h1 class="text-white fs-3 fw-bolder">Isabelle Amaral</h1>
        <p class="text-white ">Fisioterapeuta</p>
    </div>
</header>


<!-- Testimonials-->

<section id="scrollspyHeading1" class="text100 testimonials text-center ">
    <div class="container">
        <h2 class="mb-5">Conheça aqui os serviços prestados...</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid  rounded-circle mb-3" src="static/images/fisioterapia.png" id="teste3" alt=some  width=200 height=150>
                    <h5>Pilates</h5>
                    <p class="font-weight-light mb-0">Os movimentos trabalham o corpo de forma integral, o que permite o estímulo das articulações. Justamente por trabalhar a respiração e concentração, o pilates reduz os níveis de estresse. O pilates trabalha todas as partes do corpo e aumenta sua flexibilidade e resistência.  </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="static/images/fisioterapia-2.jpg" id="teste3" alt=some  width=200 height=150>
                    <h5>Kinesio tape</h5>
                    <p class="font-weight-light mb-0">O kinesio tape é uma fita adesiva resistente à água que é utilizada para acelerar a recuperação de uma lesão, aliviar dores musculares ou para estabilizar as articulações e preservar os músculos, tendões ou ligamentos, durante o treino ou competição, por exemplo, devendo ser colocado pelo fisioterapeuta ou pelo treinador.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src="static/images/fisioterapia-4.jpg" id="teste3" alt=some  width=200 height=150>
                    <h5>Ventosaterapia</h5>
                    <p class="font-weight-light mb-0">A ventosaterapia é um tipo de tratamento natural no qual são usadas ventosas para melhorar a circulação sanguínea em um local do corpo.Como resultado, existe uma maior oxigenação destes tecidos, permitindo a liberação de toxinas do sangue e do músculo com mais facilidade.  </p>
                </div>
            </div>
        </div>
</section>

<section id="scrollspyHeading1" class="text300 testimonials text-center ">
            <div class="  container ">
            <div class="row">
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid  rounded-circle mb-3" src="static/images/fisioterapia-5.jpg" id="teste3" alt=some  width=200 height=150>
                        <h5>Auriculoterapia</h5>
                        <p class="font-weight-light mb-0">Os praticantes da Auriculoterapia alegam que é possível tratar problemas de saúde física, mental ou emocional exclusivamente mediante estimulação da superfície da orelha. O mapa é semelhante aos mapas de outras partes do corpo usados nas práticas de reflexologia e iridologia. </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="static/images/fisioterapia-6.jpg" id="teste3" alt=some  width=200 height=150>
                        <h5>Liberação Miofascial</h5>
                        <p class="font-weight-light mb-0">A liberação miofasc   ial consiste em uma técnica preventiva de lesões e alívio de dores musculares, que aplica pressão em alguns pontos do corpo a fim de liberar a fáscia do músculo. Hoje, essa técnica já é comumente incorporada à fisioterapia para relaxar a musculatura.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="static/images/fisioterapia-7.jpg" id="teste3" alt=some  width=220 height=150>
                        <h5>Dry Needling</h5>
                        <p class="font-weight-light mb-0">Ou agulhamento seco procedimento consiste na inserção de uma agulha fina aplicada diretamente em um ponto-gatilho miofascial ativo (PGM). Após a desativação desse PGM, a agulha é removida da região, causando o relaxamento da musculatura. </p>
                    </div>
                </div>
        </div>
    </div>
</section>

<section>
    <div  class="card_home container card text-center">
        <div class="card-body">
        <h5 class="card-title "><h2 class="page-section-heading text-center text-uppercase text-white">Agende Sua Consulta </h2></h5>
        <p class="card-text "><p class="lead page-section-heading text-center text-uppercase text-white">Escolha um dia e horário entraremos em contato.</p>
        <a href="https://projeto-integrador-univesp1.herokuapp.com/form" class="btn btn-lg btn-light">Clique Aqui</a>
        </div>
    </div>
</section>

<section id="scrollspyHeading2" class=" page-section mb-0">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center mb-5">Sobre</h2>
        <hr>
        <!-- About Section Content-->
        
                <div class="row home-info-grey">
                    <div class="col-md-7">
                        <h2>Olá, eu sou Isabella Amaral</h2>
                        <p>
                             Sou formada em Fisioterapia há 6 anos. Atualmente trabalho com Pilates, Fisioterapia alternativa e manual.
                            <br> Realizo 
                            ventosaterapia, auriculoterapia, pilates bola ( domicílio), liberação Miofacial, dry needling ( agulhamento a seco) e kinesio tape.</p>
                    </div>
                    <div class="col-md-5 drop-cap-text"> <span class="drop-cap"><span class="drop-cap-letter">A</span></span>missão do fisioterapeuta é incentivar os pacientes e mostrar que eles são capazes de melhorar...
                        Cuide do seu corpo e da sua mente!
                        </div>
                </div>
            </div>
        </section>

<section id="scrollspyHeading3"class=" page-section page-section-cont" >
<h2 class="text-center my-5 ">Contato</h2>
        <hr>
<div class="container">
    <div class="row">
        <!-- Footer Location-->
        <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Pelo whatsapp</h4>
            <p class="lead mb-0">
                <i class="fa fa-whatsapp">(18)98101-1104</i>
            </p>
        </div>
    
        <div class="col-lg-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Redes Sociais</h4>
            <li class="list-inline-item me-4">
                <a href="https://twitter.com"><i class="bi-twitter fs-3"><img class="img-fluid rounded-circle mb-4" src="static/images/twitter.png" alt=some  width=25 height=10></i></a>
            </li>
            <li class="list-inline-item me-4">
                <a href="https://www.facebook.com/isa.amaral.712"><i class="bi-facebook fs-3"><img class="img-fluid rounded-circle mb-4" src="static/images/facebook.png" alt=some  width=25 height=10></i></a>
            </li>
            <a href="https://www.instagram.com/fisioisabelleamaral/"><i class="bi-instagram fs-3"><img class="img-fluid rounded-circle mb-4" src="static/images/instagram.png" alt=some  width=25 height=10></i></a>
                <a href="#!"><i class="bi-instagram fs-3"></i></a>
            </li>
        </div>
       
        <div class="col-lg-4">
            <h4 class="text-uppercase mb-4">Agenda On-line</h4>
            <p class="lead mb-0">
                Faça o seu pré agendamento e aguarde contato
                <a href="https://projeto-integrador-univesp1.herokuapp.com/form">Aqui</a>
                
            </p>
        </div>
    </div>
</div>
</section>


       
{% include 'footer.html' %}


{% endblock %}