<!-- Inheriting all linked files -->
{% extends 'base.html' %} {% include 'header.html' %}

<!-- head section -->
{% block title %} Projeto Integrador {% endblock %}


<!-- Body section -->
{% block body %}

<body>
    
<div class="container">
    <div class="row">
        <div class="col-md-13">
            <div class="jumbotron p-3">
                <div class="col-5 alert alert-secondary" role="alert">
                <h3>Gerenciar  <b>Agenda</b> <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#mymodal">Novo Agendamento</button> </h3>
            </div>
                {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}

                <div class="col-5 alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">
                            x 
                        </span>
                    </button> {{message}}
                </div>

                {% endfor %} {% endif %} {%endwith%}

                <table class="table table-dark table-hover">

                    <tr class="tb">
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Data de Nasc.</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        
                        <th>Ação</th>
                    </tr>

                    {% for row in all_data %}
                
                
                    <tr class="tbl">
                        <td>{{row.id}}</td>
                        <td>{{row.name}}</td>
                        <td>{{row.lastname}}</td>
                        <td>{{row.birthdate}}</td>
                        <td>{{row.email}}</td>
                        <td>{{row.phone}}</td>
                        
                        <td>
                            <a href="/update/{{row.id}}" class="btn btn-primary" data-toggle="modal" data-target="#modaledit{{row.id}}">Editar</a>
                            <a href="/delete/{{row.id}}" class="remove btn btn-danger" onclick="return confirm('Você tem certeza que quer deletar ?')">Excluir</a>
                        </td>
                    </tr>
 
                    <!-- Model for updating employee data -->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"> Atualizar dados do Paciente </h4>
                                </div>
                                <div class="modal-body">
                                    <form action="{{url_for('update')}}" method="POST">

                                        <div class="form-group">
                                            <label>Nome</label>
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" name="nome" value="{{row.name}}" required="1">
                                        </div>

                                        <div class="form-group">
                                            <label>Sobrenome</label>
                                            <input type="text" class="form-control" name="lastname" value="{{row.lastname}}" required="1">
                                        </div>

                                        <div class="form-group">
                                            <label>Data de Nascimento</label>
                                            <input type="date" class="form-control" name="birthdate" value="{{row.birthdate}}" required="1">
                                        </div>

                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="email" class="form-control" name="email" value="{{row.email}}" required="1">
                                        </div>



                                        <div class="form-group">
                                            <label>Telefone</label>
                                            <input type="number" class="form-control" name="phone" value="{{row.phone}}" required="1">
                                        </div>



                                        <div class="modal-footer">
                                            <button class="btn btn-info" type="submit"> Atualizar</button>
                                            <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor %}

                </table>

            </div>

            <!-- Model for adding employee -->
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"> Novo Agendamento </h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('insert')}}" method="POST">

                                <div class="form-group">
                                    <label>Nome</label>
                                    <input type="text" class="form-control" name="nome" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Sobrenome</label>
                                    <input type="text" class="form-control" name="lastname" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Data de Nascimento</label>
                                    <input type="date" class="form-control" name="birthdate" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" name="email" required="1">
                                </div>

                                <div class="form-group">
                                    <label>Telefone</label>
                                    <input type="number" class="form-control" name="phone" required="1">
                                </div>

                                <div class="modal-footer">
                                    <button class="btn btn-success" type="submit"> Novo Agendamento </button>
                                    <button class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>

                            </form>
                        </div>
                    </div>  
                </div>
            </div>

        </div>
    </div>
</div>
</body>
{% endblock %}