<!-- Inheriting all linked files -->
{% extends 'base.html' %} {% include 'header.html' %}

<!-- head section -->
{% block title %} Projeto Integrador {% endblock %}


<!-- Body section -->
{% block body %}
<section class="text200">
    <div class="container bg-light px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>sobre nos</h2>
               <p> Missão:</p>
               <p>Visão:</p> 
               <p>Valores:</p> 
            </div>

        </div>
    </div>
</section>

  </div>

{% endblock %}